<% @title = 'Photos' %>

<section class="photo-container">
	
	<div>
		<p class="photo-title"><%= get_photo_one[:title] %></p>
		<%= image_tag(get_photo_one[:link], class: "page-photo") %>
		<p class="photo-caption"><%= get_photo_one[:caption] %></p>
	</div>

	<div>
		<p class="photo-title"><%= get_photo_two[:title] %></p>
		<%= image_tag(get_photo_two[:link], class: "page-photo") %>
		<p class="photo-caption"><%= get_photo_two[:caption] %></p>
	</div>

	<div>
		<p class="photo-title"><%= get_photo_three[:title] %></p>
		<%= image_tag(get_photo_three[:link], class: "page-photo") %>
		<p class="photo-caption"><%= get_photo_three[:caption] %></p>
	</div>

	<div>
		<p class="photo-title"><%= get_photo_four[:title] %></p>
		<%= image_tag(get_photo_four[:link], class: "page-photo") %>
		<p class="photo-caption"><%= get_photo_four[:caption] %></p>
	</div>

	<div>
		<p class="photo-title"><%= get_photo_five[:title] %></p>
		<%= image_tag(get_photo_five[:link], class: "page-photo") %>
		<p class="photo-caption"><%= get_photo_five[:caption] %></p>
	</div>

	<div>
		<p class="photo-title"><%= get_photo_six[:title] %></p>
		<%= image_tag(get_photo_six[:link], class: "page-photo") %>
		<p class="photo-caption"><%= get_photo_six[:caption] %></p>	
	</div>

	<div>
		<p class="photo-title"><%= get_photo_seven[:title] %></p>
		<%= image_tag(get_photo_seven[:link], class: "page-photo") %>
		<p class="photo-caption"><%= get_photo_seven[:caption] %></p>
	</div>

	<div>
		<p class="photo-title"><%= get_photo_eight[:title] %></p>
		<%= image_tag(get_photo_eight[:link], class: "page-photo") %>
		<p class="photo-caption"><%= get_photo_eight[:caption] %></p>
	</div>

	<div>
		<p class="photo-title"><%= get_photo_nine[:title] %></p>
		<%= image_tag(get_photo_nine[:link], class: "page-photo") %>
		<p class="photo-caption"><%= get_photo_nine[:caption] %></p>
	</div>

	<div>
		<p class="photo-title"><%= get_photo_ten[:title] %></p>
		<%= image_tag(get_photo_ten[:link], class: "page-photo") %>
		<p class="photo-caption"><%= get_photo_ten[:caption] %></p>
	</div>

	<div>
		<p class="photo-title"><%= get_photo_eleven[:title] %></p>
		<%= image_tag(get_photo_eleven[:link], class: "page-photo") %>
		<p class="photo-caption"><%= get_photo_eleven[:caption] %></p>
	</div>

	<div>
		<p class="photo-title"><%= get_photo_twelve[:title] %></p>
		<%= image_tag(get_photo_twelve[:link], class: "page-photo") %>
		<p class="photo-caption"><%= get_photo_twelve[:caption] %></p>
	</div>

</section>