<!-- TODO: make mobile friendly version of this -->
<div class="container">
    <nav>
        <div id="site-banner"><%= link_to "Michael Coniaris", root_path %></div>
        <ul class="nav navbar-nav">
          <li>
            <li class="active"><%= link_to "Home", welcome_index_path %></li>
          </li>          
          <li>
            <%= link_to "Code", welcome_code_path %>
          </li>
          <li>
            <%= link_to "Photos", welcome_photography_path %>
          </li>
          <li>
            <%= link_to "About", welcome_about_path %>
          </li>
          <li>
            <%= link_to "Contact", welcome_contact_path %>
          </li>
        </ul>
  </nav>
</div>