<!-- TODO: make mobile friendly version of this -->
<div class="container">
    <nav>
        <div id="site-banner"><%= link_to "Michael Coniaris", root_path %></div>
        <ul class="nav navbar-nav">
          <li>
            <li class="active"><%= link_to "Home", index_path %></li>
          </li>          
          <li>
            <%= link_to "Code", code_path %>
          </li>
          <li>
            <%= link_to "Photos", photography_path %>
          </li>
          <li>
            <%= link_to "About", about_path %>
          </li>
          <li>
            <%= link_to "Contact", contact_path %>
          </li>
        </ul>
  </nav>
</div>